<html>
    <head>
        <title>Pass the Bookings homepage</title>
    </head>
    <body>
        <div>
            <h1><a href="">Pass the Booking</a></h1>
        </div>

        <div>
            <p>Client list information:</p>
            <h2><a href="client">Client list</a></h2>
        </div>


        <div>
            <p>Property list information:</p>
            <h2><a href="property">Property list</a></h2>
        </div>

        <div>
            <p>Booking list information:</p>
            <h2><a href="booking">Booking list</a></h2>
        </div>
    </body>
</html>
