{% load staticfiles %}
<html>
    <head>
        <title>Pass the Bookings homepage</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="{% static '/css/home.css' %}">
    </head>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">PassTheBooking</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="client">Client Information</a></li>
          <li><a href="property">Property Information</a></li>
          <li><a href="booking">Booking Information</a></li>
        </ul>
      </div>
    </nav>

    <body>

      <header class="bgimg w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
          <span class="w3-text-white">Taking the stress out of internal management</span>
        </div>
        <div class="w3-display-middle w3-center">
          <span class="w3-text-white" style="font-size:90px">Pass <br> the <br> Booking</span>
        </div>
        <div class="w3-display-bottomright w3-center w3-padding-large">
          <span class="w3-text-white">Getting the job done.</span>
        </div>
      </header>

        <div class="w3-panel w3-leftbar w3-light-grey">
          <h2><p><i>Welcome to the internal system we use to manage all our clients, properties and bookings!</i></p></h2>
          <h2><p>Pass the Booking - we do the rest!</p></h2>
        </div>

      <h3 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">EMPLOYEE OF THE MONTH</span></h3>
      <img src="http://i.imgur.com/CjEuJHp.jpg" class="img-responsive" alt="Me" align="middle" width="304" height="236">
      <h4 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">John Ashton</span></h4>
      <ul>
        <li><i> Pretty awesome dude..</i> - Barrack Obama
        <li><i> Would be nice if he got a job</i> - Mum
        <li><i> How did you get this number?</i> - Donald Trump
      </ul>
      <br>
      <br>

    </body>
</html>
