{% load staticfiles %}
<html>
    <head>
        <title>Client list</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/booking.css' %}">
    </head>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="">PassTheBooking</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="">Client Information</a></li>
          <li><a href="/property">Property Information</a></li>
          <li><a href="/booking">Booking Information</a></li>
        </ul>
      </div>
    </nav>
    <body>
      <div class="page-header">
        <h1><a href="/">Client information</a></h1>
      </div>
       <div class="content container">
           <div class="row">
               <div class="col-md-8">
               {% block content %}
               {% endblock %}
               </div>
           </div>
       </div>
    </body>
</html>
