{% extends 'booking/base.html' %}
{% load staticfiles %}

{% block content %}
  {% for booking in bookings %}
<div class="w3-container">
  <h5>Booking No. {{booking.pk}}</h5>
  <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
    <tr>
      <td>Property:</td>
      <td>{{ booking.property }}</td>
    </tr>
    <tr>
      <td>Check in date:</td>
      <td>{{booking.date_check_in}}</td>
    </tr>
    <tr>
      <td>Check out date:</td>
      <td>{{booking.date_check_out}}</td>
    </tr>
    <tr>
      <td>Guest name:</td>
      <td>{{ booking.guest_name}}</td>
    </tr>
  </table><br>
  <button class="w3-button w3-dark-grey" id='more-info'><a href="{% url 'booking_detail' pk=booking.pk %}">More Information</a><i class="fa fa-arrow-right"></i></button>
</div>
<br>
  {% endfor %}
{% endblock %}
