{% extends 'client/base.html' %}
{% load staticfiles %}

{% block content %}
  {% for client in clients %}
  <div class="w3-container">
      <h5>Client No. {{client.pk}}</h5>
      <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr>
          <td>Name:</td>
          <td>{{ client }}</td>
        </tr>
        <tr>
          <td>Date Joined:</td>
          <td>{{ client.date_joined }}</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>{{ client.email }}</td>
        </tr>
      </table><br>
      <button class="w3-button w3-dark-grey" id='more-info'><a href="{% url 'client_detail' pk=client.pk %}">More information</a><i class="fa fa-arrow-right"></i></button>
  </div>
  {% endfor %}
{% endblock %}
