{% extends 'property/base.html' %}
{% load staticfiles %}

{% block content %}
  {% for property in properties %}
  <div class="w3-container">
      <h5>Property No. {{ property.pk }}</h5>
      <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr>
          <td>Owner:</td>
          <td class = 'w3-right'>{{ property.owner }}</td>
        </tr>
        <tr>
          <td>Description:</td>
          <td class = 'w3-right'>{{ property.description }}</td>
        </tr>
        <tr>
          <td>City Location:</td>
          <td class = 'w3-right'>{{ property.location_city }}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td class = 'w3-right'>{{ property.address }}</td>
        </tr>
        <tr>
          <td>No. bedrooms:</td>
          <td class = 'w3-right'>{{ property.number_of_bedrooms }}</td>
        </tr>
      </table><br>
      <button class="w3-button w3-dark-grey" id='more-info'><a href="{% url 'property_detail' pk=property.pk %}">More information</a><i class="fa fa-arrow-right"></i></button>
  </div>
  <br>
  {% endfor %}
{%endblock%}
